<form action="/user/create" method="POST" role="form" accept-charset="utf-8">
	<legend>Sign In</legend>

	<div class="form-group">
		<label>Tu Nombre</label>
		<input type="text" class="form-control" name="name" placeholder="Tu nombre" required>
		<label>Tu apellido</label>
		<input type="text" class="form-control" name="last_name" placeholder="Tu nombre" required>
		<label>Tu username</label>
		<input type="text" class="form-control" name="username" placeholder="Tu nombre" required>
		<label>Tu email</label>
		<input type="email" class="form-control" name="email" placeholder="Tu email" required>
	</div>


	<button type="submit" class="btn btn-primary">Enviar</button>
</form>